<%- include("partials/_bs_header", {title: "homepage"}) %>
<%- include("partials/_navbar", {nickname: nickname}) %>

<%if(typeof err != "undefined"){%>
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <%= err %>
    </div>
  </div>
<% } %>

<div class="container">
  <div class="alert alert-primary" role="alert">
    <%for(let i = 0; i<notif.length; i++){%>
    <div class="">
      <%=notif[i].Team.nama%> sent you an invite to play for their team
      <a href="/user/respon/accept/<%=notif[i].id%>" class="btn btn-primary" role="button">Join</a>
      <a href="/user/respon/reject/<%=notif[i].id%>" class="btn btn-danger" role="button">Reject</a>
      <hr/>
    </div>
    <%}%>
  </div>
</div>

<div class="container">
  <h1 class="text-white bg-dark w-50">Available Team</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Ask to Join</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < teams.length; i++) { %>
        <tr>
          <th> <%= teams[i].nama %> </th>
          <th> <a href="/user/request/<%= teams[i].id %>/<%=user.id%>" class="btn btn-primary" role="button" onclick="return alert('Request Sent!')">Request to Join</a> </th>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("partials/_bs_footer") %>
