<%- include("partials/_bs_header", {title: "My Team"}) %>

<%- include("partials/_navbar") %>

<div class="container">
  <h1>your team member</h1>
  <ul>
    <%for(let i = 0; i<teamMembers.length; i++){%>
    <li><%=teamMembers[i].User.nickname%> : <%=teamMembers[i].User.position%> </li>
    <%}%>
  </ul>
</div>

<%if(typeof err != "undefined"){%>
  <div class="container">
    <div class="alert alert-danger w-50" role="alert">
      <%= err %>
    </div>
  </div>
<% } %>

<div class="container">
  <% for(let i = 0; i<notif.length; i++){%>
  <div class="alert alert-primary w-50" role="alert">
    <div class="">
      <%= notif[i].User.nickname %> wants to play for your team as <%= notif[i].User.position %>
      <a href="/user/respon/teamAccept/<%= notif[i].id %>" class="btn btn-primary" role="button">Accept</a>
      <a href="/user/respon/reject/<%= notif[i].id %>" class="btn btn-danger" role="button">Reject</a>
    </div>
    <hr/>
  </div>
  <%}%>
</div>

<div class="container">
  <table class = "table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">Position 1</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i = 0; i< pos1.length; i++){%>
      <tr>
        <td style="width: 40%"><%=pos1[i].nickname%></td>
        <td><a href="/user/invite/<%=teamId%>/<%=pos1[i].id%>" class = "btn btn-primary">invite</a></td>
        <a href="/"></a>
      </tr>
      <%}%>
    </tbody>
  </table>

  <table class = "table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">Position 2</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i = 0; i< pos2.length; i++){%>
      <tr>
        <td style="width: 40%"><%=pos2[i].nickname%></td>
        <td><a href="/user/invite/<%=teamId%>/<%=pos2[i].id%>" class = "btn btn-primary">invite</a></td>
      </tr>
      <%}%>
    </tbody>
  </table>

  <table class = "table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">Position 3</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i = 0; i< pos3.length; i++){%>
      <tr>
        <td style="width: 40%"><%=pos3[i].nickname%></td>
        <td><a href="/user/invite/<%=teamId%>/<%=pos3[i].id%>" class = "btn btn-primary">invite</a></td>
      </tr>
      <%}%>
    </tbody>
  </table>

  <table class = "table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">Position 4</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i = 0; i< pos4.length; i++){%>
      <tr>
        <td style="width: 40%"><%=pos4[i].nickname%></td>
        <td><a href="/user/invite/<%=teamId%>/<%=pos4[i].id%>" class = "btn btn-primary">invite</a></td>
      </tr>
      <%}%>
    </tbody>
  </table>

  <table class = "table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">Position 5</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i = 0; i< pos5.length; i++){%>
      <tr>
        <td style="width: 40%"><%=pos5[i].nickname%></td>
        <td><a href="/user/invite/<%=teamId%>/<%=pos5[i].id%>" class = "btn btn-primary">invite</a></td>
      </tr>
      <%}%>
    </tbody>
  </table>

</div>


<%- include("partials/_bs_footer") %>
