<%- include("partials/_bs_header", {title: "My Team"}) %>

<%- include("partials/_navbar") %>

<div class="container">
  <a href="/user/create_team" class="btn btn-primary">create new team</a>
</div>

<div class="container">
  <table class = "table">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Team Name</th>
        <th scope="col">Captain</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < user.UserTeams.length; i++) { %>
        <tr>
          <th> <%= user.UserTeams[i].Team.id %> </th>
          <th> <%= user.UserTeams[i].Team.nama %> </th>
          <th> <%= user.UserTeams[i].Team.id_ketua %> </th>
          <th> <a href="/user/teams/<%= user.UserTeams[i].Team.id %>/detail">Detail</a> | <a href="/user/teams/delete/<%= user.UserTeams[i].Team.id%>">delete</a></th>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>


<%- include("partials/_bs_footer") %>
